.fondo {
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
 border-radius: 22px;
 width: 25%;
  font-size: 30px;
  padding: 33px;
  background-color: darkgrey;
}
.contenedor {
 background-color: rgba(255, 255, 255, 0.363);
  width: 25%;
  font-size: 30px;
  padding: 33px;
  padding-top: 180px;
  border-radius: 22px;
  position: fixed;
  align-items: center;
  top: calc(50vh - 200px);
 padding-left: calc(10vw - 200px);
 color: antiquewhite;
}
.boton {
  border-radius: 8px;
  border-color: red;
  width: 10%;
  font: 15px arial;
  background-color: white;
}
.boton3 {
  border-radius: 6px;
  width: 25%;
  font: 15px Geneva, Fantasy;
}
.boton4 {
  border-radius: 6px;
  width: 25%;
  font: 15px Geneva, Fantasy;
}
.blocker {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  /* hacemos que ocupe toda la pantalla*/
  z-index: 50;
  /* se colocamos por encima del resto de componentes*/
  /* opacity: 0.5; */
}